@charset "utf-8";
/* CSS Document */

body { margin:0; padding:0; width:100%; /*font-family: Helvetica,STheiti,FZLTXHK,Arial,Tahoma,sans-serif,serif;*/ font-family: Helvetica, STheiti, 微软雅黑, Arial, Tahoma, sans-serif, serif;background: #5ebcbb;}
.clearfloat { clear:both;}
a {outline:0;}
a:active {star:expression_r(this.onFocus=this.blur());}
a:focus { outline:0;-moz-outline:none;}
input,textarea,img, {outline:none;}
input::-moz-focus-inner,
button::-moz-focus-inner { 
border: 0; 
} 

:focus {outline:none;} 
::-moz-focus-inner {border-color: transparent;}

* {margin: 0;padding: 0;}
html {height: 100%; background: #fff; }
* html,* html body 
{  
    background-image:url(about:blank);    
    background-attachment:fixed; 
} 

input { font-family: Helvetica, STheiti, 微软雅黑, Arial, Tahoma, sans-serif, serif;background: #5ebcbb;}

h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
a:link {color: #464646;text-decoration: none;}
a:visited {color: #464646;text-decoration: none;}
a:hover {color: #4c4f8b;}
a:active {color: #464646;text-decoration: none;}


/*oa后台登录页面*/
.wrapbg { background:url(../image/OApcbg.png) no-repeat; background-size:cover; width:100%; height:100%; position:absolute; margin:0; padding:0;}
.loginbox { width:28%; margin:0 auto; position:absolute; top:30%; left:36%; }
.loginbox .logintitle { text-align:center; font-size:24px; color:#fff; }
.loginbox .loginname {background:url(../image/lognamepc.png) no-repeat #fff 2px 4px;  margin-top:30px; float:left; border:0; border-radius:12px;  color:#666; line-height:32px; padding-top:5px; height:42px; padding-left:12%; width:88%;}
.loginbox .loginpassword { background:url(../image/logpasswordpc.png) no-repeat #fff 2px 4px; margin-top:24px; float:left; border:0; border-radius:12px;  color:#666; line-height:32px; padding-top:5px; height:42px;  padding-left:12%; width:88%;}
.loginbox .rem { float:right; margin-top:16px; color:#fff; font-size:14px;}
.loginbox .login { background:#f9b552;border:0; border-radius:12px;  color:#fff;line-height:42px; height:42px; width:60%; margin-left:20%; text-align:center; float:left; margin-top:50px; font-size:20px; }
.loginbox .for {  color:#fff;line-height:42px; height:42px; width:60%; margin-left:20%; text-align:center; float:left; margin-top:12px; }





/*通用*/OApcbg
.wrap { width:100%; overflow:hidden }
.commmonbox {width:100%; padding:0.6em 0; overflow:hidden}




/*搜索栏代码*/
.topbg { width:100%; display:block; position:relative}
.topbg img { width:100%; height:100%;display:block;}

.nav {width:100%; background:#5880bd;opacity:1; padding:0.4em 0; position:fixed !important; z-index:100000; top:0; }
.searchbar { width:80%; padding-left:10%; padding-right:10%;overflow:hidden; position:absolute; top:0.5em; }
.searchbar .loacte {  color:#fff; float:left; width:24%;}
.searchbar .loacte .locatetext {  float:left; line-height:2em; display:block }
.searchbar .loacte .locateicon { width:24%; float:left;margin-top:0.7em; margin-right:0.1em; margin-left:0.2em; }
.searchbar .loacte .locateicon img { width:100%; display:block;}

.searchbar .inputsea { float:right;border-radius:1.2em; width:76%; height:2em;  background:#fff; opacity:0.6; color:#47649d}
.searchbar .inputsea .inputimg { width:1.4em; height:1.4em; margin-top:0.3em; margin-left:2%; margin-right:1%; float:left;}
.searchbar .inputsea .inputtext { width:78%; border:0; margin-top:0.2em;  line-height:2em; height:2em; color:#47649d; font-family: Helvetica, STheiti, 微软雅黑, Arial, Tahoma, sans-serif, serif;}
.searchbar .inputsea .inputimg img { width:100%; display:block;}
.blank { background:#e1e8e8; width:100%; height:0.8em; clear:both; overflow:hidden}

/*bar*/
.listicon { list-style:none; width:25%; float:left;}
.listicon .listiconpic { width:37.5%; margin:0 auto;}
.listicon .listicontext { width:100%;text-align:center; color:#333; margin-top:0.4em;}
.listicon .listiconpic img{ width:100%; display:block;}
.zhaobioaotext { overflow:hidden}
.zhaobiaoh1 { color:#333; text-align:left; line-height:1.4em;  width:92%; padding:0.4em 4%;}
.zhaobiaoh2 {width:96%; padding:0.25em 0  0.4em 0%; margin-left:4%;color:#999; overflow:hidden;border-bottom:1px solid #e1e8e8; }
.zhaobiaoh2 .leixing { float:left; background:url(../image/img_all.png) no-repeat; background-size:contain;  padding-left:1.5em;}
.zhaobiaoh2 .time { float:right; margin-right:4%;}
.zhaobiaoh3 {width:26%; margin-left:37%; background:url(../image/more.png) no-repeat right center; background-size:contain; margin:0.6em auto; }

/*.zhaobiaoh2:after { position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
border-bottom:1px solid #595757; 
  width: 100%;
  background-color: #000;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}*/













